body{
    font-family: "Arial";
    margin: 0;
    padding: 0;
    border: 0;
}

header{
    background-color: #2c2b2a;
    padding: 20px;
}

nav{
    position: absolute;
    right: 0;
    top: 70px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}

/*Estilização do link quando o mouse estiver em cima*/

nav a:hover{
    color: red;
    text-decoration: underline;
}

.logo_caixa{
    position: relative;
    width: 940px;
    margin: auto;
}

.logo{
    width: 50%;
}

footer {
    text-align: center;
    margin: 0 auto;
    background: url("Assets/textura.jpg");
    padding: 40px 0 30px 0;
}

.copyright {
    color: white;
    font-size: 12px;
    margin: 20px;
}

.logo_footer {
    width: 20%;
}